{% extends 'templates/user.html.twig' %}

{% block body %}
<!-- menu -->
<div class="space-medium">
    <div class="container">
    	<div class="row mb-3">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="box">
            	<div class="row">
	                <div class="section-title">
	                    <h2>{{ product.name }}</h2>
	                    <h4>{{ product.description }}</h4>
	                </div>
	             </div>

	            <div class="menu-block">   
				<div class="row">
	                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="dish-price">
		                	<p>${{ product.price*0.7 }}</p>
		                </div>
	                </div>   
	                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		                <div class="dish-price">
		                	<p>${{ product.price }}</p>
		                </div>
	                </div>
	                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		                <div class="dish-price">
		                	<p>${{ product.price*1.3 }}</p>
		                </div>
	                </div>
                </div>
                </div>

				<form action="order/add" method="post">
				<div class="menu-block mb-5">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	                    <div class="radio">
	                        <label>
	                            <input type="radio" name="size" value="S">
	                            <span>Small</span>
	                        </label>
	                    </div>
	                </div>
	                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	                    <div class="radio">
	                        <label>
	                            <input type="radio" name="size" value="M" checked>
	                            <span>Medium</span>
	                        </label>
	                    </div>
	                </div>
	                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	                    <div class="radio">
	                        <label>
	                            <input type="radio" name="size" value="L">
	                            <span>Large</span>
	                        </label>
	                    </div>
	                </div>
          		</div>  
				</div>
				
				<div class="menu-block mb-2">
				<div class="row"> 
					
						<input type="hidden" name="productID" value="{{ product.productID }}">
						
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<button class="btn btn-success btn-lg" name="action" value="add">Add to order</button> 
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<button class="btn btn-info btn-lg" name="action" value="back">Back to menu</button> 
						</div>
					   
				</div>
				</div>
				</form>        			  
			</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="box ">
				<div class="row">
		        	<div class="section-title">
		            	<h2>Order</h2>
		        	</div>
		        	
		        	<div class="menu-block mb-1">
					<div class="row">
		                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                    <div class="table-responsive">
		                        <table class="table table-striped">
		                            <thead>
		                                <tr>
		                                    <th>Product</th>
		                                    <th class="text-center">Size</th>
		                                    <th class="text-center">Price</th>
		                                    <th class="text-center">Remove</th>
		                                </tr>
		                            </thead>
		                            <tbody>
	               					<form action="order/remove" method="post">
		                           		<input type="hidden" name="productID" value="{{ product.productID }}">
			                       
										{% for orderProduct in orderProductsDetails %}
			                                <tr>
			                                    <td>{{ orderProduct["name"] }}</td>
			                                    <td class="text-center">{{  orderProduct["size"] }}</td>
			                                   	<td class="text-center">${{ orderProduct["price"] }}</td>
			                                    <td class="text-center">
			                                    	<button name="remove" value="{{ orderProduct["orderProductID"] }}" 
			                                    	   style="background:transparent; border:none;" >
			                                    		<span class="glyphicon glyphicon-remove" style="color:#c94c4c;"></span>
			                                    	</button>
											    </td>
			                                </tr>
			                            {% endfor %}
									</form>
							
		                            </tbody>
		                        </table>
		                    </div>
		                </div>
		            </div>	
		            </div>
		            
		            <div class="menu-block" style="margin-bottom: 50px; margin-left: 15px">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="dish-price">
			                	<p>Sum: {{ sum }}</p>
			                </div>
	                	</div>   
					</div>
					</div>
					
		           	<div class="menu-block mb-2">
					<div class="row"> 
						<form action="order/send" method="post">
							<input type="hidden" name="productID" value="{{ product.productID }}">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<button class="btn btn-success btn-lg" name="action" value="order">Send order</button> 
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<button class="btn btn-danger btn-lg" name="action" value="cancel">Cancel order</button> 
							</div>  
						</form>   
					</div>
					</div>  
					
		    	</div>
		    	</div>
			</div>
		</div>	  
	</div>
</div>
{% endblock %}
